body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.auth-box {
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 400px;
  margin: 80px auto;
}

.auth-box h3 {
  text-align: center;
  margin-bottom: 25px;
  color: #111827;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 15px;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background-color: #4F46E5;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.auth-box button:hover {
  background-color: #3730a3;
}

.auth-switch {
  margin-top: 12px;
  text-align: center;
  font-size: 14px;
}

.auth-switch a {
  color: #4f46e5; 
  font-weight: 500;
  text-decoration: none;
}


@media (min-width: 600px) {
  .auth-box {
    max-width: 350px;
  }
}

@media (min-width: 1024px) {
  .auth-box {
    max-width: 400px;
  }
}